@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#blogdesc > h1 {
  margin-bottom: 0.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

#blogdesc > h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

#blogdesc > h3 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

#blogdesc > p {
  margin-bottom: 1.75rem;
}
